.preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50rem;
  overflow-y: auto;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-top: 2rem;
  }

  &__img-container {
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: 15rem;
    height: 15rem;
  }
}

.step-holder {
  @include steps;
}

.step__holder-btn {
  @include button-secondary;
}
