.dashboard {
  &__aside {
    height: 100vh;
    background-color: #fff;
    animation: showMenu 0.4s ease forwards;

    @media (max-width: 768px) {
      position: fixed;
      left: -100%;
      width: 26rem;
      z-index: 3;
      box-shadow: $box-shadow;
      padding-right: 2rem;
      display: none;
    }

    &-show {
      display: block;
    }

    &-hide {
      display: none;
    }
  }
}
