.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-light;

  &__holder {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: $border-radius-2;
    min-height: 35rem;
    width: 36rem;
    overflow-y: auto;

    @media (min-width: $bp-small) {
      width: 45rem;
    }

    @media (min-width: $bp-medium) {
      width: 55rem;
    }
  }

  &__heading {
    text-align: center;
    font-size: 2rem;
  }

  &__btn {
    @include button-primary;
  }

  &__signup-link {
    margin-top: 2rem;
    color: #094293;
    text-decoration: none;
  }
}
