.header {
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  width: 100%;

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 4.5rem;
    cursor: pointer;
    z-index: 500;
    border: none;
    padding: 1rem;
    background-color: transparent;

    @media (min-width: $bp-large) {
      display: none;
    }
  }

  &__burger {
    width: 2.5rem;
    height: 0.3rem;
    background-color: #000;
    transition: all 0.5s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 0.3rem;
      background-color: #000;
      transform: translate(-1.2rem, 1rem);
      transition: transform 0.5s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 0.3rem;
      background-color: #000;
      transform: translate(-1.2rem, -1rem);
      transition: transform 0.5s ease-in-out;
    }

    &--open {
      transform: translateX(-3rem);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(1.3rem, -1.3rem);
      }

      &::after {
        transform: rotate(-45deg) translate(1.3rem, 1.3rem);
      }
    }
  }

  &__logo {
    font-size: 4.5rem;
    transition: transform 0.5s ease-in-out;
    transform: rotate(-45deg);
    color: #000;

    &:hover {
      transform: rotate(0);
    }
  }

  &__list {
    display: none;
    list-style: none;

    @media (min-width: $bp-large) {
      display: flex;
    }
  }

  &__mobile {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in;
    transform: translateX(120vw);
    z-index: 300;

    @media (min-width: $bp-large) {
      display: none;
    }

    &--show {
      transform: translateX(0vw);
    }
  }

  &__title-menu {
    margin-left: 2rem;
  }

  &__list-mobile {
    padding-left: 0;
    margin: 0 1rem;
  }

  &__item {
    list-style: none;
    border-bottom: solid 0.1rem #c4c4c4;

    @media (min-width: $bp-large) {
      border: none;
    }
  }

  &__link {
    padding: 2rem;
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
    position: relative;

    @media (min-width: $bp-large) {
      padding: 0;
      margin-right: 1rem;

      &::after {
        content: "";
        bottom: -0.3rem;
        left: 0;
        width: 0;
        height: 0.3rem;
        border-radius: 0.3rem;
        background-color: #000;
        position: absolute;
        transition: width 0.5s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
