.navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  width: 100%;

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 4.5rem;
    cursor: pointer;
    z-index: 500;
    border: none;
    padding: 1rem;
    background-color: transparent;
  }

  &__burger {
    width: 2.5rem;
    height: 0.3rem;
    background-color: #000;
    transition: transform 0.5s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 0.3rem;
      background-color: #000;
      transform: translate(-1.2rem, 1rem);
      transition: transform 0.5s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 0.3rem;
      background-color: #000;
      transform: translate(-1.2rem, -1rem);
      transition: transform 0.5s ease-in-out;
    }

    &--open {
      transform: translateX(-3rem);
      background-color: transparent;

      &::before {
        transform: rotate(45deg) translate(1.3rem, -1.3rem);
      }

      &::after {
        transform: rotate(-45deg) translate(1.3rem, 1.3rem);
      }
    }
  }

  &__logo {
    font-size: 5rem;
    transition: transform 0.5s ease-in-out;
    transform: rotate(-45deg);
    color: #fff;
    padding: 1rem;


    &:hover {
      transform: rotate(0);
    }
  }

  &__list {
    display: none;
  }

  &__mobile {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding-right: 2rem;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in;
    transform: translateX(120vw);
    z-index: 300;

    &--show {
      transform: translateX(0vw);
    }
  }
}
